node_modules/
.env
.env.local
.env.*.local
.DS_Store
dist/
build/
*.log
Backend/node_modules/
Frontend/node_modules/
Frontend/dist/


# # macOS system files
# .DS_Store

# # Node.js dependencies
# node_modules/

# # Environment variables
# .env